function Player.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
not
pop this 3
push constant 512
call Array.new 1
pop this 5
push constant 512
call Array.new 1
pop this 6
push constant 512
call Array.new 1
pop this 7
push constant 0
pop this 8
push pointer 0
return
function Player.draw 1
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 6
add
push this 1
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
pop local 0
label WHILE_EXP0
push local 0
push constant 1
neg
gt
not
if-goto WHILE_END0
push local 0
push this 5
add
pop pointer 1
push that 0
push local 0
push this 6
add
pop pointer 1
push that 0
push local 0
push this 5
add
pop pointer 1
push that 0
push constant 6
add
push local 0
push this 6
add
pop pointer 1
push that 0
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push constant 0
return
function Player.remove 1
push argument 0
pop pointer 0
push this 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 6
add
push this 1
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push this 4
push local 0
sub
push this 5
add
pop pointer 1
push that 0
push this 4
push local 0
sub
push this 6
add
pop pointer 1
push that 0
push this 4
push local 0
sub
push this 5
add
pop pointer 1
push that 0
push constant 6
add
push this 4
push local 0
sub
push this 6
add
pop pointer 1
push that 0
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label IF_END0
push constant 0
return
function Player.growTail 4
push argument 0
pop pointer 0
push this 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
pop local 0
push this 1
pop local 1
push this 2
pop local 2
goto IF_END0
label IF_FALSE0
push this 4
push this 5
add
pop pointer 1
push that 0
pop local 0
push this 4
push this 6
add
pop pointer 1
push that 0
pop local 1
push this 4
push this 7
add
pop pointer 1
push that 0
pop local 2
label IF_END0
push constant 20
pop local 3
label WHILE_EXP0
push local 3
push constant 0
gt
not
if-goto WHILE_END0
push this 4
push constant 1
add
pop this 4
push local 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push this 5
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 4
push this 6
add
push local 1
push constant 20
push local 3
sub
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push local 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 4
push this 5
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 4
push this 6
add
push local 1
push constant 20
push local 3
sub
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push local 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 4
push this 5
add
push local 0
push constant 20
push local 3
sub
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 4
push this 6
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push local 2
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
push this 5
add
push local 0
push constant 20
push local 3
sub
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 4
push this 6
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE4
push this 4
push this 7
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
sub
pop local 3
goto WHILE_EXP0
label WHILE_END0
push this 8
push constant 4
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 8
push constant 1
add
pop this 8
label IF_FALSE5
push constant 0
return
function Player.updateTail 1
push argument 0
pop pointer 0
push this 4
pop local 0
push constant 0
push this 5
add
push this 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 6
add
push this 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 7
add
push this 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push local 0
push this 5
add
push local 0
push constant 1
sub
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 6
add
push local 0
push constant 1
sub
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 7
add
push local 0
push constant 1
sub
push this 7
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Player.checkCollision 2
push argument 0
pop pointer 0
push this 4
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 7
gt
push local 1
not
and
not
if-goto WHILE_END0
push this 0
push constant 3
add
push local 0
push this 5
add
pop pointer 1
push that 0
gt
push this 0
push constant 3
add
push local 0
push this 5
add
pop pointer 1
push that 0
push constant 7
add
lt
and
push this 1
push constant 3
add
push local 0
push this 6
add
pop pointer 1
push that 0
gt
push this 1
push constant 3
add
push local 0
push this 6
add
pop pointer 1
push that 0
push constant 7
add
lt
and
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function Player.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Player.isAlive 0
push argument 0
pop pointer 0
push this 3
return
function Player.getx 0
push argument 0
pop pointer 0
push this 0
return
function Player.gety 0
push argument 0
pop pointer 0
push this 1
return
function Player.move 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.goUp 1
pop temp 0
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Player.goDown 1
pop temp 0
label IF_FALSE1
push this 2
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Player.goLeft 1
pop temp 0
label IF_FALSE2
push this 2
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Player.goRight 1
pop temp 0
label IF_FALSE3
push constant 5
push this 8
sub
call Sys.wait 1
pop temp 0
push pointer 0
call Player.checkCollision 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop this 3
label IF_FALSE4
push constant 0
return
function Player.goUp 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.remove 1
pop temp 0
push this 1
push constant 1
sub
pop this 1
push pointer 0
call Player.updateTail 1
pop temp 0
push pointer 0
call Player.draw 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
pop this 3
label IF_END0
push constant 0
return
function Player.goDown 0
push argument 0
pop pointer 0
push this 1
push constant 248
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.remove 1
pop temp 0
push this 1
push constant 1
add
pop this 1
push pointer 0
call Player.updateTail 1
pop temp 0
push pointer 0
call Player.draw 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
pop this 3
label IF_END0
push constant 0
return
function Player.goLeft 0
push argument 0
pop pointer 0
push this 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.remove 1
pop temp 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Player.updateTail 1
pop temp 0
push pointer 0
call Player.draw 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
pop this 3
label IF_END0
push constant 0
return
function Player.goRight 0
push argument 0
pop pointer 0
push this 0
push constant 504
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.remove 1
pop temp 0
push this 0
push constant 1
add
pop this 0
push pointer 0
call Player.updateTail 1
pop temp 0
push pointer 0
call Player.draw 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
pop this 3
label IF_END0
push constant 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
